.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.small-logo{
  float: left;
  height:50px;
  width: auto;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}


a.main-title.navbar-brand{
  line-height: 50px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 20px;
  color: #E58204;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
