.App {
  text-align: center;
  padding-right: 0;
  margin-right: 0;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
}

.App-logo {
  height: 40vmin;
}

.small-logo{
  float: left;
  height:50px;
  width: auto;
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 15%;
}

.navbar
{
margin-bottom: 3px;
margin-top:0;
background-color: #FFFFFF;
border-bottom: 1mm ridge rgb(255, 255, 255, .6);
}

.active a{
  color: #FAFAFA !important;
  background-color: #E58204 !important;
}
.item-nav a:focus{
  color: #FAFAFA !important;
  background-color: #E58204 !important;}
.item-nav a:active{
  color: #F1F1F1 !important;
  background-color: #E58204 !important;

}
.sticky-nav {
  position: sticky;
  top: 0;

}

a.main-title.navbar-brand{
  line-height: 50px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 20px;
  color: #E58204;
  width: 200px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
