body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 50px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}



.orange{
  color: #E58204;

}

.form-ajout_societe{
float: right;
margin-right: 20px;
width: 45%;
border: dashed red;
}
.client{
  float: left;
  margin-left: 20px;
  width: 45%;
  border: 2px solid;
}

.btn-dell{
  float: right;
}

.div-center{

  text-align: center;
  width: 100%
}

.suivi-affaire{
  width: 100%;
  text-align: center;
  height: 200px;
  border: 2px solid;
  margin-top: 50px;
  margin-bottom: 30px;

}

.required .control-label:after {
  content:"*";
  color:red;
}

.sous-sous-component{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}
.numero-sous-component{
  float:left;
  font-weight:bold;
  color: blue;
  width: 30px;
  text-align: center;
  margin-top: 38px;
  margin-left: 10px;
}
